@model IEnumerable<kursovaya.Models.User>

<table class="table">
    <tr><th>Email</th><th>Role id</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.RoleId</td>
            <td>
            </td>
        </tr>
    }
</table>